/* Header para PC */
.logo-img-container a img {
	transform: scale(1.5) translateY(-5px);
}

.js-nav-desktop-list.nav-desktop-list li a {
	font-size: 14px;
	font-weight: 600;
	border-radius: 10px;
	padding: 5px;
}

.js-nav-desktop-list.nav-desktop-list li a:hover {
	border: 2px solid #fff;
	color: #fff;
	transition: all .4s ease-in;
}

.js-nav-desktop-list-arrow.js-nav-desktop-list-arrow-right.nav-desktop-list-arrow.nav-desktop-list-arrow-right, .js-nav-desktop-list-arrow.js-nav-desktop-list-arrow-left.nav-desktop-list-arrow.nav-desktop-list-arrow-left {
	fill: #000;
}

.js-nav-desktop-list-arrow.js-nav-desktop-list-arrow-right.nav-desktop-list-arrow.nav-desktop-list-arrow-right:hover, .js-nav-desktop-list-arrow.js-nav-desktop-list-arrow-left.nav-desktop-list-arrow.nav-desktop-list-arrow-left:hover {
	fill: #fff;
	transition: all .4s ease-in;
}

.js-nav-desktop-list.nav-desktop-list li a:hover {
	border: 2px solid #fff;
	color: #fff;
	transition: all .4s ease-in;
}

.js-search-button.js-modal-open.js-fullscreen-modal-open.btn.btn-utility.utilities-item {
	border-radius: 10px;
}

.js-search-button.js-modal-open.js-fullscreen-modal-open.btn.btn-utility.utilities-item:hover {
	border: 2px solid #fff;
	color: #fff;
	fill: #fff;
	transition: all .4s ease-in;
}

.js-utility-col.transition-soft.js-utility-col.desktop-utility-col.d-flex.col-2.justify-content-end.col-md-auto.col-utility .d-none.d-md-inline-block .utilities-container a {
	border-radius: 10px;
	padding: 13px 8px 10px 8px;
}

.js-utility-col.transition-soft.js-utility-col.desktop-utility-col.d-flex.col-2.justify-content-end.col-md-auto.col-utility .d-none.d-md-inline-block .utilities-container a:hover {
	border: 2px solid #fff;
	color: #fff;
	fill: #fff !important;
	transition: all .4s ease-in;
}


.js-modal-open.js-fullscreen-modal-open.btn.btn-utility.position-relative.pr-0:hover {
    border-radius: 10px;
    border: 2px solid #fff;
    color: #fff;
	fill: #fff !important;
}

.js-modal-open.js-fullscreen-modal-open.btn.btn-utility.position-relative.pr-0 .icon-inline.utilities-icon.cart-icon {

    transform: translateX(-8px)
}

.js-modal-open.js-fullscreen-modal-open.btn.btn-utility.position-relative.pr-0 .badge {
    transform: translate(-11px, -2px);
}




/* Header Mobile */

.utilities-container.d-inline-block .js-modal-open.utilities-item.btn.btn-utility.pl-0:hover {
    fill: #fff;
}








/* MENU version Mobile*/
.js-modal.modal.modal-nav-hamburger.pb-0.modal-left.modal--md.transition-slide.modal-drawer.transition-soft.modal-show {
    border-right: 2px solid #80aa8d;
}

.js-modal-overlay.modal-overlay {
    background-color: #000;
} 


.form-group.m-0 .js-search-input.form-control.search-input {

    border: 1px #80aa8d solid;
    color: #fff;

}

.form-group.m-0 .js-search-input.form-control.search-input:focus {

    border: 2px #80aa8d solid;
    -webkit-box-shadow: 0px 0px 17px 4px rgba(128,170,141,1);
-moz-box-shadow: 0px 0px 17px 4px rgba(128,170,141,1);
box-shadow: 0px 0px 17px 4px rgba(128,170,141,1);
transition: all .4 ease-in;

}

.form-group.m-0 .js-search-input-submit.search-btn.search-submit-btn:hover {

    color: #80aa8d;
    transform: scale(1.2);
    transition: all .4s ease-in;
}

.nav-primary .nav-list .js-desktop-nav-item.nav-item {
    border-top: 2px solid #80aa8d;
}
.nav-primary .nav-list .js-desktop-nav-item.nav-item:nth-child(3) {
    border-top: 2px solid #80aa8d;
    border-bottom: 2px solid #80aa8d;
}

.nav-primary .nav-list .js-desktop-nav-item.nav-item:hover {
    background-color: #ddd;
    color: #80aa8d;
    transition: all .4s ease-in;
}

.nav-primary .nav-list .js-desktop-nav-item.nav-item a:hover {

    color: #80aa8d;
    transition: all .4s ease-in;
}

.js-modal-close.modal-header.modal-header-no-title.modal-close.modal-close-floating.js-toggle-menu-close .icon-inline.svg-icon-text {
    fill: #fff;
}

.js-modal-close.modal-header.modal-header-no-title.modal-close.modal-close-floating.js-toggle-menu-close .icon-inline.svg-icon-text:hover {

    fill: #80aa8d;
}

.nav-secondary.text-left {
    background-color: #80aa8d;
}

.col.pl-2.text-left .mr-1,
.col.pl-2.text-left .ml-1:hover {
    color: #fff;
}

.col.pl-2.text-left .mr-1:hover,
.col.pl-2.text-left .ml-1:hover {
    color: #000000 !important;
    transition:all .4s ease-in;
}

.nav-secondary.text-left {
    border-top: 3px solid #fff;
    background-color: #80aa8d;
}


.col-auto.pr-0.icon-inline.font-big .r-1 {
    fill: #000,
}













    /* HEADER*/

    .container.text-center .mb-4.pb-2 img {
         transform: scale(2)

    }






/*SEction*/

.col-md-8 .js-welcome-message-title.mb-3 {
    font-size: 25px;
    line-height: 25px;
}


.col-md-8 .js-welcome-message-text.mb-4 {
    font-size: 16px;
}




    /*FOOTER*/
.mb-4 .social-icon .icon-inline.icon-lg:hover {
    fill: #000000 !important;
    transition:all .4s ease-in;
}

.footer-menu-item .footer-menu-link {
    color: #000000 !important;
    transition:all .4s ease-in;
}

.my-2 .powered-by-logo a {
    display: none;
}

.claim-link.d-md-inline-block.mt-md-0.mt-3.font-smallest .d-inline-block.mb-2 a:hover {
    fill: #000000 !important;
    transition:all .4s ease-in;
}










/*Contacto*/
.js-form.form.js-winnie-pooh-form .form-group .form-label {
    font-size: 16px;
}

.js-form.form.js-winnie-pooh-form .form-group input:focus,
.js-form.form.js-winnie-pooh-form .form-group textarea:focus {

    border: 2px #80aa8d solid;
    -webkit-box-shadow: 0px 0px 17px 4px rgba(128,170,141,1);
-moz-box-shadow: 0px 0px 17px 4px rgba(128,170,141,1);
box-shadow: 0px 0px 17px 4px rgba(128,170,141,1);
transition: all .4 ease-in;

}

.js-form.form.js-winnie-pooh-form .btn.btn-primary.btn-big.btn-block:hover {
    color: #fff;
    border: 2px #000 solid;
    background-color: #5b7965;
    transition: all .4 ease-in;

    

}


/* Productos Destacados */


.js-products-featured-grid.row.row-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
}


.js-item-product.col-6.col-md-4.item-product.col-grid {
    border-radius: 20px;
    margin: 20px 10px;
    box-shadow: 10px 10px 30px #434343, -10px -10px 30px #737272;

}

.js-products-featured-grid.row.row-grid .js-item-product.col-6.col-md-4.item-product.col-grid {
    padding-top: 15px;
}

.item-description.text-center a .js-item-name.item-name.mb-2.font-small.opacity-80 {
    font-weight: 900;
    color: #9dbe8d;
    transform: scale(1.8);
}

.item-description.text-center .item-link:hover {
    opacity: .7;
}
/*Seccion productos*/

.js-product-table.row.row-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.js-product-table.row.row-grid .js-item-product.col-6.col-md-3.item-product.col-grid {
    border-radius: 20px;
    margin: 20px 10px;
    box-shadow: 10px 10px 30px #434343, -10px -10px 30px #737272;
    padding-top: 15px;
}

.js-stock-label.label.label-default.mb-2 {
    background: #9dbe8d;
    border-radius: 10px;
    color: white;
    font-size: 13px;
}


/*Seccion comprar producto*/

.js-product-slide-link.d-block.position-relative img {
    border-radius: 20px;
}
